html
  include head.pug

  body
    h1= message



    div(class="itemlist")
      if list    
        each item in list
          include item.pug

    button( class="newitem button")="nyt indkøb"

        if button
    a(href="/make")= button

    h3='del liste'
    if list
      p= urlto  + list[0].list