html
  include head.pug
  body(class="")
    h1= message
    div(class="search-container")
      input(type="text" id="search" placeholder="Søg")

    div(class="itemlist")
      if list    
        each cat in list
          div(class="category-container" data-cat=cat.name)
            h6=cat.name
            each item in cat.items
              include item.pug

    if list
      input( type="text" name="hiddenurl" id="hiddenurl" value=urlto)
    div(class="menu-container show") 
      div(class="menu")
        div( class="share button round small")
          span(class="text")='del'
        div( class="newitem button round big")
           span(class="text")='nyt indkøb'
        div( class="totop button round small")
          span(class="text")='til toppen'
          span 
          span  
          span
