div(id="item-" + item.id class=item.state ? 'on item' : 'off item' data-id=item.id data-imp=item.imp data-list=item.list)
    
    input(
        type='text'
        name='name'
        value=item.name
    ) 
    - let n = 1
    select
        while n < 21
            if item.amount == n
                option(value=n selected)=n++
            else 
                option(value=n )=n++
    if item.state
        input(
            type='checkbox'
            name='state'
            checked='checked'
        )
    else
        input(
            type='checkbox'
            name='state'
        )
            
            
