div(id="item-" + item.id class=item.state ? 'on item' : 'item' data-id=item.id data-imp=item.imp data-list=item.list data-sorted=item.sorted data-cat=item.category)
    
    input(
        type='text'
        name='name'
        value=item.name
    ) 

    select
        each val in cats
            if item.category == val
                option(value=val selected)=val
            else 
                option(value= val)=val
    div(class=item.category.toLowerCase().replace(/ /g, '-').replace(',','') + ' pseudo-select')
    if item.state
        input(
            type='checkbox'
            name='state'
            checked='checked'
        )
    else
        input(
            type='checkbox'
            name='state'
        )
            
            
