div(id="item-" + item.id class=item.state ? 'on item' : 'off item' data-id=item.id data-imp=item.imp data-list=item.list)
    if item.state
        input(
            type='checkbox'
            name='state'
            checked='checked'
        )
    else
        input(
            type='checkbox'
            name='state'
        )
    input(
        type='text'
        name='name'
        value=item.name
    ) 
    input(
        type='number'
        name='amount'
        value=item.amount
    ) 
